# Testing and Infrastructure
pytest
pytest-terraform==0.7.0
boto3==1.34.14
botocore==1.34.14

# Development Tools
black
flake8==7.0.0
mypy==1.8.0
isort==5.13.2

# Documentation
mkdocs
mkdocs-material==9.5.3

# Security
bandit==1.7.6
safety
checkov==3.1.41
